<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata">
  <link rel="stylesheet" href="../stylePages/styleAccounts.css">
  <link rel="shortcut icon" href="../resources/echanizBank.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../stylePages/styleLogIn.css">
  <link rel="stylesheet" href="sweetalert2.min.css">

  
  <title>Log in</title>
</head>

<body>
  <header id="main">
    <nav class="navbar navbar-expand-lg text-center">
      <div class="container">
        <div>
          <a class="navbar-brand" href="#"><img class="logo" src="../resources/echanizBank.png" alt="logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse  justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link active" href="../htmlPages/index.html">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


  <main id="app" class="d-flex flex-column align-items-center flex-wrap justify-content-center gap-5">





    <!-- ---------------------------------------- FORM ----------------------------------------- -->
    <div class="login-wrap">
      <div class="login-html" @submit.prevent>
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        <div class="login-form">
          <div class="sign-in-htm">
            <div class="group">
              <label for="email" class="label">Email</label>
              <input v-model="email" id="email" type="email" class="input">
            </div>
            <div class="group">
              <label for="pass" class="label">Password</label>
              <input v-model="password" id="pass" type="password" class="input" data-type="password" @keyup.enter="login()">
            </div>
            <div class="group">
              <input id="check" type="checkbox" class="check" checked>
              <label for="check"><span class="icon"></span> Keep me Signed in</label>
            </div>
            <div class="group">
              <input type="submit" class="button" value="Sign In" @click="login()" @click="loginError()">
            </div>
            <div class="hr"></div>
            <div class="foot-lnk">
              <a href="#forgot" @click="passwordReset()">Forgot Password?</a>
            </div>
          </div>
          <div class="sign-up-htm">
            <div class="group">
              <label for="firstName" class="label">First name</label>
              <input id="firstName" type="firstName" class="input" v-model="firstName">
            </div>
            <div class="group">
              <label for="lastName" class="label">Last name</label>
              <input id="lastName" type="lastName" class="input" v-model="lastName">
            </div>
            <div class="group">
              <label for="pass" class="label">Email Address</label>
              <input id="pass" type="email" class="input" v-model="emailRegistered">
            </div>
            <div class="group">
              <label for="password" class="label">Password</label>
              <input id="password" type="password" class="input" data-type="password" v-model="registeredPassword">
            </div>
            <div class="group">
              <input type="submit" class="button" value="Sign Up" @click="register()" @click="registerError()">
            </div>
            <div class="hr"></div>
            <div class="foot-lnk">
              <label for="tab-1">Already Member?</a>
            </div>
          </div>
        </div>
      </div>
    </div>





  </main>

  <footer id="coin">
    <div class="d-flex" id="coinmarketcap-widget-marquee" coins="1,1027,825,2,74,5426" currency="USD" theme="dark"
      transparent="false" show-symbol-logo="true"></div>
  </footer>

  <script src="sweetalert2.all.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinMarquee.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="../JsPages/login.js"></script>
</body>

</html>