body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}

main{
	
	padding: 1.5rem;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	position: relative;
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100% !important;
	color:#fff !important;
	display:block !important;
}
.login-form .group .input,
.login-form .group .button{
	border:none !important;
	padding:15px 20p !important;
	border-radius:25px !important;
	background:rgba(255,255,255,.1) !important;
}
.login-form .group input[data-type="password"]{
	text-security:circle !important;
	-webkit-text-security:circle !important;
}
.login-form .group .label{
	color:#aaa !important;
	font-size:12px !important;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px !important;
	height:15px !important;
	border-radius:2px !important;
	position:relative !important;
	display:inline-block !important;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

.toastify {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 9999;
  }

  .toastify.show {
    opacity: 1;
  }

  .toastify.success {
    background-color: #4caf50;
    padding: 20px 30px; /* Ajusta el tamaño del padding según tus preferencias /
    font-size: 20px; / Ajusta el tamaño de la fuente según tus preferencias /
    width: 350px; / Ajusta el ancho del elemento según tus preferencias /
  }

  .toastify.error {
    background-color: #f44336;
    padding: 20px 30px; / Ajusta el tamaño del padding según tus preferencias /
    font-size: 20px; / Ajusta el tamaño de la fuente según tus preferencias /
    width: 350px; / Ajusta el ancho del elemento según tus preferencias */
  }

  .toastify.warning {
    background-color: #ff9800;
  }


  .card {
	position: absolute;
	width: 190px;
	height: 254px;
	background: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	transition: 0.2s;
  }
  
  .card:hover {
	transform: scale(1.05);
	transition: 0.2s;
	filter: drop-shadow(0px 0px 10px rgb(0, 247, 255));
  }
  
  .card::after {
	content: "scanning";
	height: fit-content;
	width: 100%;
	color: lightskyblue;
	position: absolute;
	z-index: 2;
	bottom: 15%;
	text-align: center;
	animation: 2s dots  infinite;
  }
  
  .card::before {
	content: "";
	height: 0.1em;
	width: 80%;
	border-radius: 10px;
	background-color: rgb(00, 200, 255);
	position: absolute;
	z-index: 2;
	bottom: 10%;
	animation: 4s grow  infinite;
	align-self: flex-start;
	margin-left: 10%;
	filter: drop-shadow(0px 0px 10px #3fefef) drop-shadow(0px 0px 10px #3fefef);
  }
  
  .card svg {
	filter: drop-shadow(0px 0px 10px #3fefef) drop-shadow(0px 0px 50px #3fefef);
  }
  
  path {
	stroke-dasharray: 90;
	animation: loop 4s infinite;
  }
  
  @keyframes loop {
	0% {
	  stroke-dashoffset: 50;
	  stroke-dasharray: 90;
	}
  
	50% {
	  stroke-dashoffset: 100;
	  ;
		  stroke-dasharray: 50;
	}
  
	100% {
	  stroke-dashoffset: 50;
	  stroke-dasharray: 90;
	}
  }
  
  @keyframes dots {
	0% {
	  content: "scanning."
	}
  
	25% {
	  content: "scanning.."
	}
  
	50% {
	  content: "scanning..."
	}
  
	75% {
	  content: "scanning"
	}
  
	100% {
	  content: "scanning."
	}
  }
  
  @keyframes grow {
	0% {
	  width: 0%;
	}
  
	50% {
	  width: 80%
	}
  
	100% {
	  width: 0%;
	}
  }
