.logo{
    width: 250px;
    height: 85px;
    box-shadow:1px 2px 2px 1px rgba(201, 82, 228, 1)!important;
}

h1,h3,h2,p{
    color: rgb(202, 9, 246) !important;
}

h5{
    color: rgb(202, 9, 246) !important;
}

.logoCanvas{    
    width: 210px;
    height: 75px;
    box-shadow:1px 2px 2px 1px rgba(201, 82, 228, 1)!important;
}

header,body{
    background-color: rgb(8, 8, 8) !important;
}

.accountList{
    background-color: rgb(70, 53, 53);
    color: rgba(201, 82, 228, 1);
}


ul{
    margin-top: 10px;
    gap: 10px;
}

a, span,input{
    color:rgba(201, 82, 228, 1) !important ;
}

.nav-link:hover{
    background-color: rgba(201, 82, 228, 1) !important;
    color:rgb(35, 32, 32) !important;
    border-radius: 10px;
}

nav, footer{
    background-color: rgb(44, 40, 40) !important;
}

nav{ 
    border: 1px solid rgba(201, 82, 228, 1) !important;
}

footer{
    border: 1px solid rgba(201, 82, 228, 1) !important;
    max-width: 100vw;
}

main{
    padding: 3rem;
    background-color: rgb(44, 40, 40) !important;
    min-height: 85vh;
    border: 1px solid rgba(201, 82, 228, 1) !important;
}


.navbar, .navbar-toggler{
    border: 1px solid rgba(201, 82, 228, 1);
}

.navbar-toggler-icon{
    background-image: url(../resources/toggle.png);
    background-size:contain;    
    width: 2rem;
    height: 3rem;
}
input{
    width: 7rem !important;
    height: 2.5rem !important;
    color: rgba(201, 82, 228, 1);
}

.logo-card{
    max-width: 20rem;    
}

.card{
    border: 2px solid rgba(201, 82, 228, 1) !important;
    background-color: rgb(53, 40, 40);
}

 .btnNav{
    color:  rgb(44, 40, 40);
    background-color: rgba(201, 82, 228, 1);
}

div:nth-child(1) {
    font-family: 'Crimson Pro', serif;
    font-size: 1.2rem;
  }
  div:nth-child(2) {
    font-family: 'Literata’, serif;
  }

  #ulNav{
    margin-right: 7rem !important;
  }

  span{
    margin-right: 3rem !important;
  }

  #logIn, .btn-close{
    color: rgba(201, 82, 228, 1);
    border: 1px solid rgba(201, 82, 228, 1);
  }

  .active{
    text-decoration:underline rgba(201, 82, 228, 1);
    font-size: 1.3rem;
  }

  .offcanvas-body, .offcanvas-header{
    background-color:rgb(53, 40, 40) ;
    border: 1px solid rgba(201, 82, 228, 1) ;
  }

  .btn-close{
    background-image: url(../resources/icone-x-rose.png);
  }


@media screen and (max-width:993px){
   

    .logo{
        display: none;
    }


}


