nav{
  font-family: monospace;
}

.cryptoPromotions{
  width: 100% !important;
  max-height: 100% !important;
}


@keyframes rotBGimg {
from {
  transform: rotate(0deg);
}

to {
  transform: rotate(360deg);
}
}

/* -----------CARDS HOME --------------------- */
.cardsSection{
margin-top: 4rem;
}

.customCard {
  width: 17rem !important;
  height: 28rem !important;
  overflow: hidden !important;
  position: relative !important;
  background: rgba(0, 0, 0, 0.635);
  border-radius: 15px !important;
  box-shadow: 7px 13px 37px rgba(0, 0, 0, .6);
  font-size: 0.8rem !important;
  cursor:pointer !important;
}

.customCard:hover{
box-shadow: 10px 10px 7px 0px rgb(29, 183, 218,0.3);
}


.headerCard {
  width: 100% !important;
  height: 200px !important;
  overflow: hidden !important;
  position: relative !important;
}

.headerCard::before {
  content: '' !important;
  position: absolute !important;
  border-top: 70px solid transparent !important;
  border-left: 400px solid rgb(0, 0, 0) !important;
  bottom: 0 !important;
}

.headerCard img {
  width: 100% !important;
  height: 178px !important;
}

.sectionCard {
  padding: 10px !important;
  overflow: hidden !important;
  text-align: center !important;
}

.sectionCard h2 {
  margin: .5em 0 !important;
}

.sectionCard p {
  margin: 1em 0 !important;
}

.card{
  width: 15rem;
}

.h2Card{
    font-weight: 400;
}

.h3Card{
    font-weight: 400;
}

.pCardHome{
    font-weight: 200;
}


/* Carousel */

.carouselTitles{
  font-size: 2.3rem;    
  background-color: rgba(0, 0, 0, 0.064);
  font-weight: 500 !important;
}



.pCarousel{
  font-size: 1.1rem;    
  background-color: rgba(0, 0, 0, 0.027);
  font-weight: 50 !important;
}

#carouselExampleIndicators{
margin: 0px !important;
}

.carousel-inner{
height: 28rem;
margin: 0px !important;
}

.carouselImg{
width:100vw !important;
height: 28rem;
object-fit:cover !important;
margin: 0px !important;
}

.tradeDiv{
min-height: 40vh;
}


.trade{
width: 50%;
text-align: center;
}
#btcConverter{
height: 50%;
width: 40%;
}

.trade img{
height: 30rem;
width: 100%;
}

@media screen and (min-width:676px) and (max-width:790px){


.tradeDiv{
flex-direction: column;
align-items: center;
justify-content: center;
}

.trade{
width: 100%;
margin: 1rem 0 1rem 0;
}

.trade img{
height: 900%;
width: 90%;
}

#btcConverter{
width: 80%;
}

}

@media screen and (min-width:320px) and (max-width:800px){

  .carousel{
    width: 100%;
  }
}

